@import "gn_search_dutch.less";
@import "../../../style/gn_admin";
// use the default admin styles
@import "../../default/less/gn_admin_default.less";

[ng-app="gn_admin"] {
  .gn-top-bar {
    padding: 0 15px;
    .container {
      margin-left: -15px;
      margin-right: -15px;
    }
    .navbar-right {
      margin-right: 0;
    }
  }
}
