@import "../../../style/gn_search.less";
@import "../../../style/gn_editor";
@import "../../default/less/gn_editor_default";

@import "gn_facets_dutch.less";
@import "gn_pagination_dutch.less";
@import "gn_onlinesrc_popup_dutch.less";
// header
@import "gn_header_dutch.less";
// navigation
@import "gn_navbar_dutch.less";
// footer and bottombar
@import "gn_footer_dutch.less";
// dutch style overrides
@import "gn_view_dutch.less";
// default styles
@import "../../default/less/gn_editor_default.less";
// variables for manipulating the theme
@import "gn_variables_dutch.less"; // must be last

[ng-app="gn_editor"] {
  .gn-batch-editor,  #gn-directory-container,  #gn-new-metadata-container,  #gn-import-container {
    padding-top: 10px;
    margin-left: -15px;
    margin-right: -15px;
    border-top: 5px solid #cce0f1;
  }
  .gn-editor-container {
    margin-left: -15px;
    margin-right: -15px;
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
  }
  // Header and Footer
  body {
    padding-top: 56px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
  }
  .gn-top-bar {
    display: block !important;
    z-index: 502 !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 57px;
    .username-dropdown {
      .dropdown-menu {
        li:nth-child(2) {
          display: none;
        }
      }
    }
  }
  .gn-editor-board {
    .gn-top-search {
      .input-group-addon {
        label {
          margin-bottom: 0;
        }
      }
    }
  }
  [data-ng-view] {
    .navbar-fixed-top.gn-top-bar {
      top: 56px;
      height: 56px;
      z-index: 501;
      padding-top: 0;
      border-top: 6px solid @gn-menubar-background-active;
      background-color: #fff;
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
      z-index: 501 !important;
      .navbar-text {
        display: none;
      }
    }
  }
  .gn-sub-bar {
    top: 56px;
    border: 0;
    border-top: 6px solid @gn-menubar-background-active;
    background-color: #fff;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    // buttons already in the dropdown menu
    a[href="#/batchedit"], a[href="#/directory"], a[href="#/accessManager"] {
      display: none;
    }
  }
  .gn-editor-board {
    padding-top: 90px;
    .container, .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .gn-editor-sidebar {
    position: relative;
    .gn-list-thumb {
      float: left;
      width: 30%;
    }
    .gn-editor-tools-container {
      #gn-editor-validation-panel {
        .btn-toolbar {
          display: none;
        }
        .label {
          padding: .4em .6em;
        }
      }
    }
  }
  // panel
  [data-gn-onlinesrc-list] {
    .panel {
      .panel-heading {
        padding-left: 30px;
      }
      [data-gn-slide-toggle]:before {
        content: "\f107";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        margin-left: -18px;
        font-size: 16px;
        margin-top: -2px;
      }
    } 
  }
  // Fixed width layout
  body, .gn-top-bar, .gn-sub-bar {
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: @screen-sm) {
    body, .gn-top-bar, .gn-sub-bar {
      width: @container-tablet;
    }
  }
  @media (min-width: @screen-md) {
    body, .gn-top-bar, .gn-sub-bar {
      width: @container-desktop;
    }
  }
  @media (min-width: @screen-lg) {
    body, .gn-top-bar, .gn-sub-bar {
      width: @container-large-desktop;
    }
  }
  .gn-extra-wide-container {
    @media (min-width: 1440px) {
      body, .gn-top-bar, .gn-sub-bar {
        width: 1400px;
      }
    }
  }

  // xml editor
  #xmleditor {
    position: relative;
    min-height: 700px;
    * {
      font-family: monospace !important;
    }
  }

  // tooltip
  // 
  // ----- icon to open
  .field-tooltip {
    padding: 6px;
    color: #428bca;
    margin-top: -3px;
    font-size: 16px;
  }
  .field-tooltip:active {
    box-shadow: none;
  }
  // ----- column for tooltips
  .gn-control {
    padding-left: 0px;
    padding-right: 0px;
    .clearfix();
    .btn {
      padding: 6px;
    }
    @media (max-width: 1200px) {
      .btn {
        padding: 6px 3px;
      }
    }
    .field-tooltip {
      float: left;
    }
  }
  .gn-multi-field {
    padding-top: 10px;
    padding-bottom: 10px;
    .col-sm-11 {
      padding-left: 0;
    }
    .col-sm-1 {
      padding-right: 0;
    }
  }

  // when there are more of the same tooltip icons in the column (.gn-control),
  // hide all but the first one
  [data-gn-multilingual-field] + .gn-control > .field-tooltip ~ .field-tooltip {
    display: none;
  }
  .gn-multilingual-field {
    .label {
      font-size: 10px;
    }
    .nav > li > a {
      font-size: 10px;
    }
    // required
    label.gn-required::after, .gn-required > label::after {
      font-size: 1.5em !important;
      position: inherit !important;
    }
    // delete icon/button
    [data-gn-field-highlight-remove] {
      visibility: visible !important;
    }
  }

  // delete icon/button
  [data-gn-field-highlight-remove] {
    visibility: visible !important;
    margin-right: 5px;
  }
  // remove icon
  .fa-times:before {
    content: "\f00d";
    color: #a94442;
  }

  // No indent
  form.gn-editor {
    .panel-default {
      margin-top: 15px;
    }
    fieldset {
      padding: 0 0 10px 0;
      border: 1px solid @panel-default-border;
      border-top: 0;
      margin-bottom: 15px;
      border-radius: 0;
      margin-top: 0;
      &:hover, &:active, &:focus {
        background: 0;
      }
      label {
        padding-top: 5px;
      }
      .well {
        background-color: #f9f9f9;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        label {
          padding-left: 15px;
        }
      }
      legend {
        padding: 10px 10px 10px 30px;
        font-size: 18px;
        background-color: @panel-default-heading-bg;
        margin: -1px -1px 5px -1px;
        border: 1px solid @panel-default-border;
        width: calc(~"100% + 2px");
        min-height: 3em;
        [data-gn-field-highlight-remove] {
          margin-right: -11px;
        }
      }
      fieldset {
        padding: 0 0 10px 0;
        margin-top: 25px;
        border-width: 0 0 1px 0;
        margin: 10px 0 5px 0;
        legend {
          font-size: 16px;
          background: #fff;
          border-top: 0;
        }
        .table {
          margin-bottom: 0;
        }
      }
      .table {
        margin: 10px;
        width: calc(~"100% - 20px");
      }
      &.gn-descriptiveKeywords {
        background: @panel-default-heading-bg;
        margin: 10px;
        border: 1px solid @panel-default-border;
        legend {
          background: @panel-default-heading-bg;
          border-top: 1px solid @panel-default-border;
        }
        .gn-thesaurusName, .gn-CI_Citation, .gn-MD_Identifier {
          background: @panel-default-heading-bg;
        }
      }
    }
    div[class*="col-sm-"] {
      .gn-validation-report {
        .list-group-item {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
    input[type="date"].form-control, input[type="time"].form-control, input[type="datetime-local"].form-control, 
    input[type="month"].form-control {
      line-height: normal;
    }
    .gn-date-picker > input[type=date].hidden, .gn-date-picker > input[type=time].hidden {
      width: 0%;
    }
    // Datepicker only (no time picker)
    [data-hide-time="true"] {
      .gn-date-picker > input[type=date] {
        width: 100%;
      }
    }
    // override the default 'show delete on hover'
    [data-gn-onlinesrc-list] {
      i.btn.fa-times.text-danger {
        visibility: visible;
      }
    }
  }

}

// ----- draggable
//
// make the popup fixed so it won't open out of sight at the top of the page
.gn-popup-fixed {
  position: fixed !important;
}
.gn-draggable {
  .popover-title {
    cursor: move;
  }
  // table with results
  .gn-share-grid {
    max-height: calc(~"100vh - 300px");
    overflow: auto;
    margin-bottom: 10px;
  }
  // filter input
  .gn-searchgroup-input {
    padding-left: 0;
  }
}

// online resources panel
.col-md-8 {
  [data-gn-onlinesrc-list] {
    margin-top: 20px;
    .gn-onlinesrc-panel {
      margin-top: 10px;
    }
    // make it pull to the left
    .dropdown-menu.pull-right {
      right: auto !important;
    }
  }
}

// add metadata page
#gn-new-metadata-container {
  background-color: #fff;
  padding-top: 20px;
  h2 {
    margin-left: 15px;
  }
}
#gn-new-metadata-container.new-metadata-vertical {
  padding-bottom: 15px;
  
  .gn-record-type > a.list-group-item {
    text-align: left;
  }
  .list-group {
    border: 0;
  }
  .list-group-item {
    border: 0;
    padding: 4px 0px 4px 30px;
    line-height: 26px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: 0 8px;
    background-image: url('../catalog/views/dutch/images/dutch-radio-unchecked.png');
    i.fa {
      display: none;
    }
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
  .list-group-item.active {
    background-image: url('../catalog/views/dutch/images/dutch-radio-checked.png');
    background-color: #fff;
    color: #000;
  }
}

// import metadata
#gn-import-container {
  .col-sm-7 {
    padding-left: 0;
  }
  .panel {
    .panel-heading {
      span {
        font-family: rijksoverheidsanstext-bold, sans, arial !important;
        font-weight: bold;
        font-size: 30px;
      }
    }
    .panel-body {
      .control-label {
        font-family: rijksoverheidsanstext-bold, sans, arial !important;
        font-weight: bold;
      }
    }
  }
  .panel-default:not(.panel-success) {
    border: 0;
    box-shadow: none;
    .panel-heading {
      padding-top: 0;
      background: 0;
      border: 0;
    }
    .panel-body {
      border: 0;
    }
    .panel {
      border: 1px solid #ccc;
    }
  }
  // hide import options
  .radio:nth-child(2), .radio:nth-child(3) {
    display: none !important;
  }
  // import form
  #gn-import {
    margin-top: 20px;
    .radio {
      display: block !important
    }
    // hide import blocks (NOTE: not the best way to do it, depends on the order of groups)
    .form-group:nth-child(5), .form-group:nth-child(7) {
      display: none !important;
    }
  }
  // custom radio
  //
  // ----- custom colored radio
  .radio {
    label {
      padding-left: 0;
    }
    input[type=radio] {
      display: none;
    }
    input[type=radio] + span {
      padding-left: 30px;
      display: inline-block;
      line-height: 26px;
      background-repeat: no-repeat;
      cursor: pointer;
      background-position: 0 4px;
    }
    span {
      background-image: url('../catalog/views/dutch/images/dutch-radio-unchecked.png');
    }
    input[type=radio]:checked + span {
      background-image: url('../catalog/views/dutch/images/dutch-radio-checked.png');
    }
  }
  // custom checkboxes
  //
  // ----- general
  .checkbox {
    padding-left: 0;
    label {
      padding-left: 0;
    }
    // ----- custom colored checkbox
    input[type=checkbox] {
      display: none;
    }
    input[type=checkbox] + span {
      padding-left: 30px;
      display: inline-block;
      line-height: 26px;
      background-repeat: no-repeat;
      cursor: pointer;
      background-position: 0 4px;
    }
    span {
      background-image: url('../catalog/views/dutch/images/dutch-checkbox.png');
    }
    input[type=checkbox]:checked + span {
      background-position: 0 -26px;
    }
  }

  // upload dropzone
  #md-import-upload {
    .btn-success, &:hover {
      border: 0;
      background: #fff;
      color: #333;
    }
  }

}

// progress bar
.progress-bar-container {
  margin-top: 0;
  .progress-bar-container-fixed {
    background-color: @gn-background-color;
  }
}

// batch editor
.gn-batch-editor {
  .gn-top-search {
    padding-top: 0;
    padding-bottom: 0;
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #fff;
    border-bottom-color: #fff;
  }
  li.gn-batch-editor-info {
    margin-left: 20px;
  }
  .panel-default {
    margin-top: -1.5em;
    .col-sm-12 {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .gn-search-facet {
    margin-top: 10px;
    padding-top: 0;
  }
  // ----- list items
  .gn-resultview {
    margin-top: 10px;
    li.list-group-item {
      border-radius: 0;
      border: 0;
      border-bottom: 1px solid #ddd;
      padding: 8px 4px;
      &:hover {
        background-color: #eee;
        a {
          text-decoration: none;
        }
      }
    }
    li.list-group-item:first-child {
      border-top: 1px solid #ddd;
    }
  }
  .input-group-addon {
    background-color: #fff;
    box-shadow: none;
    outline: 0;
    &:focus {
      border-color: #adadad;
    }
  }
  // ----- select
  select.form-control {
    border-radius: 0;
    font-size: 14px;
  }
  // ----- info box
  .alert-info {
    border: 1px solid transparent;
    background: 0;
    color: #999;
  }
  .alert {
    margin-bottom: 10px;
  }
  .alert-warning {
    background-color: #fcf8e3 !important;
    border-color: #faebcc;
    color: #8a6d3b;
  }
  // ----- active button
  .btn.active {
    border-color: #adadad;
  }
  // ----- filters
  [data-search-filter-tags] {
    padding-left: 15px;
    padding-right: 15px;
  }
  #gn-batch-changes {
    .well {
      .form-group {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

// map panel
.gn-drawmap-panel {
  .col-md-9 {
    padding-right: 0;
    width: 70%;
  }
  .col-md-3 {
    padding-left: 0;
    width: 30%;
  }
}

// validation report
.gn-validation-report {
  .label {
    padding: 0.3em 0.6em;
  }
}

// conformance
div[data-gn-directory-entry-selector] {
  button.dropdown-toggle {
    display: none;
  }
}

// trashbin
form[class*="gn-tab-"] {

  div[data-gn-directory-entry-selector] button.dropdown-toggle {
    display: none;
  }
  // Status is not mandatory in XSD, but flagged as mandatory
  // in labels.xml. Jose added the * to make it mandatory but no
  // changes made to handle this on the remove action. This is a hack
  // to hide the remove button.
  .gn-status.gn-required .gn-control [data-gn-click-and-spin],
  .gn-valueType.gn-required .gn-control [data-gn-click-and-spin],
  .gn-language.gn-required .gn-control [data-gn-click-and-spin],
  .gn-hierarchyLevel.gn-required .gn-control [data-gn-click-and-spin],
  .gn-useLimitation.gn-required .gn-control [data-gn-click-and-spin],
  .gn-metadataStandardName.gn-required .gn-control [data-gn-click-and-spin],
  .gn-metadataStandardVersion.gn-required .gn-control [data-gn-click-and-spin],
  .gn-characterSet.gn-required .gn-control [data-gn-click-and-spin],
  .gn-accessConstraints.gn-required .gn-control [data-gn-click-and-spin],
  .gn-otherConstraints.gn-required .gn-control [data-gn-click-and-spin],
  .gn-organisationName.gn-required .gn-control [data-gn-click-and-spin],
  .gn-electronicMailAddress.gn-required .gn-control [data-gn-click-and-spin],
  .gn-codeSpace.gn-required .gn-control [data-gn-click-and-spin] {
    display: none !important;
  }
  // with mandatory class
  .gn-status.gn-mandatory .gn-control [data-gn-click-and-spin],
  .gn-valueType.gn-mandatory .gn-control [data-gn-click-and-spin],
  .gn-language.gn-mandatory .gn-control [data-gn-click-and-spin],
  .gn-hierarchyLevel.gn-mandatory .gn-control [data-gn-click-and-spin],
  .gn-useLimitation.gn-mandatory .gn-control [data-gn-click-and-spin],
  .gn-metadataStandardName.gn-mandatory .gn-control [data-gn-click-and-spin],
  .gn-metadataStandardVersion.gn-mandatory .gn-control [data-gn-click-and-spin],
  .gn-characterSet.gn-mandatory .gn-control [data-gn-click-and-spin],
  .gn-accessConstraints.gn-mandatory .gn-control [data-gn-click-and-spin],
  .gn-otherConstraints.gn-mandatory .gn-control [data-gn-click-and-spin],
  .gn-organisationName.gn-mandatory .gn-control [data-gn-click-and-spin],
  .gn-electronicMailAddress.gn-mandatory .gn-control [data-gn-click-and-spin],
  .gn-codeSpace.gn-mandatory .gn-control [data-gn-click-and-spin],
  .gn-MD_TopicCategoryCode.gn-mandatory .gn-control [data-gn-click-and-spin],
  .gn-statement.gn-mandatory .gn-control [data-gn-click-and-spin],
  .gn-protocol.gn-mandatory .gn-control [data-gn-click-and-spin] {
    display: none !important;
  }
  .gn-otherConstraints.gn-required.gn-extra-field .gn-control [data-gn-click-and-spin] {
    display: block !important;
  }
    .gn-otherConstraints.gn-mandatory.gn-extra-field .gn-control [data-gn-click-and-spin] {
    display: block !important;
  }
}
