// variables for manipulating the theme
@import "gn_variables_dutch.less"; // must be last

// ----- footer
.footer {
  background: @gn-bottombar-background;
  border-top: 10px solid @gn-bottombar-border-color;
  padding: 10px;
  color: @gn-bottombar-color;
}
#footer a {
  color: @gn-bottombar-color;
  font-weight: bold;
  padding-right: 12px;
}
.footer a {
  color: white;
  text-decoration: none;
}

/*
  Place bottom-bar at the bottom of page; approach is based on http://matthewjamestaylor.com/blog/bottom-footer-demo.htm
*/
.bottom-bar {
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  background: @gn-bottombar-background;
  text-align: right;
  left: 0;
  bottom: 0;
  z-index: 1000;
}
