// default styles
@import "../../default/less/gn_map_default.less";
// variables
@import "gn_variables_dutch.less"; // must be last

// map for search results
[data-gn-map-field] > [ol-map] {
  border: 1px solid #ccc;
  border-radius: 0px;
  position: relative !important;
  width: 200px !important;
  height: 300px !important;
  margin-top: 10px;
  float: right;
  z-index: 99;
}
.gn-minimap-button {
  display: none;
}
.gn-fixed-map {
  [data-gn-map-field] > [ol-map] {
    position: fixed !important;
  }
  .gn-minimap-button {
    display: block;
  }
}
.gn-sticky-map {
  position: sticky;
  top: 20px;
  z-index: 99;
}
// map view
.mappage {
  padding-bottom: 1px;
}
[gn-main-viewer] {
  position: relative;
  width: calc(~"100% - 40px");
  height: auto;
  margin: 20px;
  [ol-map] {
    height: calc(~"100vh - 199px");
  }
  .panel-tools {
    z-index: 110;
    .gn-searchlayer-list {
      .gn-searchlayer {
        padding-bottom: 5px;
        border-bottom: 1px solid #ddd;
      }
    }
    [data-gn-pagination] {
      float: none !important;
      margin-top: 10px;
    }
    .pagination > li {
      display: inline !important;
    }
  }
  // control tools: zoom in, zoom out, etc.
  .control-tools {
    position: absolute;
    bottom: 1em;
  }
  // feature info table
  gn-features-tables .nav li a, .gn-viewer-info-pane .nav li a {
    background: transparent;
  }
  gn-features-tables .nav li.active a {
    background: #fff;
    border-bottom-color: #fff;
  }
  // location search
  [gn-localisation-input] {
    .dropdown-menu {
      top: calc(~"100% - 3px");
      width: 100%;
    }
  }
}

