@import "gn_variables_dutch.less";

// breadcrumbs (in second toolbar/navbar)
.crumb {
  background-color: @gn-menubar-background-active;
  padding: 1.0em 30px 1.3em 30px;
  font-size: 12px;
  margin-bottom: 10px;
  color: @gray-base;
  a {
    color: @gray-base;
  }
}

// menubars
.navbar .container-fluid, .navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
}
// ----- last tab of the right navbar
@media (min-width: 768px) {
  .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
  }
}
// ----- upper bar (for language, contact, etc)
.gn-upper-bar {
  background-color: @body-bg;
  padding: 5px 15px;
  margin-bottom: @navbar-margin-bottom;
  min-height: auto;
  a {
    text-decoration: underline;
  }
}
// ----- top bar (menubar)
.gn-top-bar {
  background-color: @gn-menubar-background;
  min-height: 56px;
  padding-top: 8px;
  margin-bottom: @navbar-margin-bottom;
  border: 0px;
  @media (max-width: @screen-sm-min) {
    padding-right: 0;
    padding-left: 0;
  }
}
// ----- divider
.gn-divider-bar {
  height: 5px;
  background-color: @gn-menubar-background-active;
}
// ----- tablets
@media (max-width: @screen-sm-min) {
  div.navbar {
    border: 0px;
    right: 0;
    left: 0;
    margin-top: 0px;
  }
}
// ----- phones (max-width is from iPhone 6 plus)
@media (max-width: @screen-sm-min) {
  div.navbar {
    border: 0px;
    right: 0;
    left: 0;
  }
  .navbar-collapse.collapse.in {
    background: #fff;
  }
}

.navbar-default .nav > li > a {
  padding: 0.8em 0.9091em 0.6em !important;
  margin: 0 !important;
  color: @gn-menubar-color !important;
}
.navbar-default li {
  a:hover,a:active {
    background-color: @gn-menubar-background-active !important;
    color: @gn-menubar-color-hover !important;
    padding-bottom: 1.2em !important;
  }
}

// dropdown in navigation menu
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  // color: @gray-base !important;
  background-color: @gn-menubar-background-active;
  padding-bottom: 1.2em !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: @gray-base !important;
  background-color: @gn-menubar-background-active;
  padding-bottom: 1.2em !important;
}
.navbar .dropdown-menu li a, .navbar .dropdown-menu li a:hover {
  padding: 10px 16px !important;
  &:hover {
    background-color: #f5f5f5 !important;
  }
}
.navbar-right .dropdown-menu {
  left: auto;
  right: 0;
}
.dropdown-header {
  padding: 3px 15px;
}
// navigation for smaller devices
.navbar-nav {
  margin: 0px;
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: 0px;
  margin-left: 0px;
}
@media (min-width: @screen-sm-min) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}

// toggle button for the navigation bar
.navbar-default .navbar-toggle {
  border: 0;
  background-color: @gn-menubar-color;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: @gn-menubar-color;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
@media (max-width: 768px) {
  .navbar-default .navbar-toggle {
    margin-bottom: 7px;
    margin-top: 3px;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #fff;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #333;
  }
  .navbar-nav {
    background: @gn-menubar-color;
  }
  .navbar-default .nav > li > a {
    color: #333 !important;
  }
  // smaller logo on smaller screens
  .branding .gn-logo {
    min-height: auto !important;
    max-height: 70px !important;
    margin-top: 15px !important;
  }
  // no language selection on small screens
  .pull-right.contact-links {
    display: none;
  }
}

// text on a navbar
.navbar-default .navbar-text {
  color: @gn-menubar-color;
  font-size: 14px;
}
.navbar-text {
  margin-top: 11px;
}
[ng-app="gn_editor"] {
  .navbar-default .navbar-text {
    color: #777;
  }
}
