@import "../../../style/gn_search.less";
@import "../../../style/gn_metadata.less";
@import "../../default/less/gn_facets_default.less";
@import "../../default/less/gn_pagination_default.less";
@import "../../default/less/gn_feedback_default.less";
// page layout
@import "../../default/less/gn_layout_default.less";
// topics, categories and Inspire
@import "../../default/less/gn_topics_default.less";
// navigation
@import "../../default/less/gn_navbar_default.less";
// styling for a single result: metadata view
@import "../../default/less/gn_result_default.less";
// styling for all search results
@import "../../default/less/gn_results_default.less";
// main map and minimap
@import "../../default/less/gn_map_default.less";
// footer and bottombar
@import "../../default/less/gn_footer_default.less";
// infolists on the homepage
@import "../../default/less/gn_infolist_default.less";
// card lists
@import "../../default/less/gn_card_default.less";
// alert messages
@import "../../default/less/gn_alerts_default.less";
// variables for manipulating the theme
@import "gn_variables_dutch.less";
// Minimal view overrides
@import "gn_view_dutch.less";

// draft
.see-draft-pill {
  border: 1px solid @btn-default-border;
  margin-top: 5px;
  border-radius: 20px;
  padding: 2px 0  4px 0;
  display: block;
  cursor: pointer;
  color: @gray-dark;
  &:hover {
    color: @gray-darker;
    text-decoration: none;
  }
  small small {
    padding: 7px 2px 8px 8px;
  }
  label {
    margin: 0 15px 0 10px;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
  }
  @media (max-width: @screen-md-min) {
    margin-bottom: 5px;
  }
}

// nojs styles
.gn-nojs {
  .gn-top-search {
    padding: 30px 0;
    margin-bottom: 30px;
    .gn-form-any input.input-lg {
      height: 46px;
    }
    .btn-lg {
      padding: 13px 16px;
    }
  }
}
