// list of LESS variables to be used in GeoNetwork
//
// this file must be first on the list of @import

// colors from 'kleurstaal donkerblauw' (https://www.rijkshuisstijl.nl/basiselementen/kleur/online-kleuren)
//
// blues
@ro-darkblue-full: #01689b;
@ro-darkblue-light: #cce0f1;
@ro-darkblue-lightest: #e5f0f9;
// grays
@ro-gray-1: #f3f3f3;
@ro-gray-2: #e6e6e6;
@ro-gray-3: #cccccc;
@ro-gray-4: #b4b4b4;
@ro-gray-5: #999999;
@ro-gray-6: #696969;
@ro-gray-7: #535353;

// general
@gn-border-radius: 3px;

// body background (image & color)
//
// when there is an empty string, no background image is used.
@gn-background-image: '../catalog/views/dutch/images/bg.jpg';
@gn-background-color: #fff; 

// menu bar
@gn-menubar-height: 50px;
@gn-menubar-background: @ro-darkblue-full;
@gn-menubar-background-active: @ro-darkblue-light;
@gn-menubar-color-active: #333;
@gn-menubar-color: #fff;
@gn-menubar-color-hover: @gray-base;
@gn-menubar-background-hover: @navbar-default-link-hover-bg;
@gn-menubar-border-color: @navbar-default-border;

// bottombar
@gn-bottombar-height: 50px;
@gn-bottombar-background: @ro-darkblue-full;
@gn-bottombar-border-color: @ro-darkblue-full;
@gn-bottombar-color: @gn-menubar-color;
@gn-bottombar-color-hover: @gn-menubar-color-hover;

// home page
//
// ----- search input
@gn-search-outline-color: @brand-primary;
@gn-search-button-background-color: @brand-primary;
@gn-search-button-color: @btn-primary-color;

@gn-search-outline-color-red: red(@gn-search-outline-color);
@gn-search-outline-color-green: green(@gn-search-outline-color);
@gn-search-outline-color-blue: blue(@gn-search-outline-color);
// ----- topics block
@gn-topics-background-color: @well-bg;
// ----- info block
@gn-info-background-color: @body-bg;
// ----- resultcards
@gn-resultcard-background-color: @body-bg;
@gn-resultcard-title-background-color: @gray-light;

// search results page
@gn-results-background-color: @body-bg;

// metadata page
@gn-md-view-background-color: @body-bg;
