// list of LESS variables to be used in GeoNetwork
//
// this file must be first on the list of @import

// general
@gn-border-radius: 3px;
@gn-outline: 5px auto -webkit-focus-ring-color;
@gn-link-color: #01689b;

// Rijkshuisstijl
//
// https://www.rijkshuisstijl.nl/basiselementen/basiselementen-online/online-kleuren
//
// Donkerblauw #01689b | RGB 1-104-155
// Tint 1 #cce0f1 | RGB 204-224-241
// Tint 2 #e5f0f9 | RGB 229-240-249
// blues
@ro-darkblue-full: #161c4e;
@ro-darkblue-light: #98c8f6;
@ro-darkblue-lightest: #e5f0f9;
// grays
@ro-gray-1: #f3f3f3;
@ro-gray-2: #e6e6e6;
@ro-gray-3: #cccccc;
@ro-gray-4: #b4b4b4;
@ro-gray-5: #999999;
@ro-gray-6: #696969;
@ro-gray-7: #535353;

// override bootstrap variables
@badge-bg: @gray;
@brand-danger: #dc3545;

// fonts
//
// font-face
@font-face {
  font-family: rijksoverheidsanstext-bold;
  src: url(../catalog/views/dutch/images/rijksoverheidsansheading-bold.woff);
}
@font-face {
  font-family: rijksoverheidsanstext-regular;
  src: url(../catalog/views/dutch/images/rijksoverheidsanstext-regular.woff);
}

@gn-fontfamily-bold: rijksoverheidsanstext-bold, sans, arial;
@gn-fontweight-bold: 500;

@gn-fontfamily-regular: rijksoverheidsanstext-regular, sans, arial;
@gn-fontweight-regular: normal;

// font size
@gn-body-font-size: 14px;
@gn-btn-font-size: 14px;

// body background (image & color)
//
// change the variable to a string pointing towards an image, like 'www.dummy.net/image.png'. When no
// background image is needed, leave as is (none).
@gn-background-image: "../catalog/views/dutch/images/bg.jpg";
@gn-background-color: @body-bg;
@gn-color: #333;

// overwrite color for accessibility
@navbar-default-link-color: @gray;
@navbar-default-link-hover-color: @gray-dark;
@text-muted: #707070;
// width of modal dialog
@modal-md: 700px;
@navbar-default-color: #333;
// slightly darker primary color, now color contrast on light gray backgrounds is high enough
@brand-primary: @ro-darkblue-full;
@dropdown-border: @navbar-default-border;

// header
@gn-header-background: #fff;
@gn-header-height: 87px;
// menu bar
@gn-menubar-height: 50px;
@gn-menubar-background: @ro-darkblue-full;
@gn-menubar-background-active: @ro-darkblue-light;
@gn-menubar-color-active: #333;
@gn-menubar-color: #fff;
@gn-menubar-color-hover: #333;
@gn-menubar-background-hover: @ro-darkblue-light;
@gn-menubar-border-color: @ro-darkblue-full;

// crumb path
@gn-crumbpath-height: 50px;
@gn-crumbpath-background: @gn-menubar-background-active;
@gn-crumbpath-color: #333;

// social bar
@gn-socialbar-background: @gn-link-color;
@gn-socialbar-color: #fff;

// bottombar
@gn-bottombar-height: 50px;
@gn-bottombar-background: #fff;
@gn-bottombar-background-hover: @ro-darkblue-light;
@gn-bottombar-border-color: #fff;
@gn-bottombar-color: #000;
@gn-bottombar-color-hover: #000;

// home page
//
// ----- search input
@gn-search-background-color: #cce0f1;

@gn-search-outline-color: @brand-primary;
@gn-search-button-background-color: @brand-primary;
@gn-search-button-color: @btn-primary-color;

@gn-search-outline-color-red: red(@gn-search-outline-color);
@gn-search-outline-color-green: green(@gn-search-outline-color);
@gn-search-outline-color-blue: blue(@gn-search-outline-color);
// ----- topics block
@gn-topics-background-color: @well-bg;
@gn-topics-color: #333;
@gn-topics-color-hover: #000;
// ----- info block
@gn-info-background-color: @body-bg;
// ----- user maps
@gn-usermaps-background-color: @navbar-default-bg;
@gn-usermaps-border-color: @navbar-default-border;
// ----- resultcards
@gn-resultcard-background-color: @body-bg;
@gn-resultcard-title-background-color: @panel-default-heading-bg;
@gn-resultcard-title-background-color-hover: darken(
  @panel-default-heading-bg,
  5%
);
@gn-resultcard-title-color: @panel-default-text;
@gn-resultcard-title-border: 1px solid @panel-default-border;
@gn-resultcard-title-border-color: @panel-default-border;

// search results page
@gn-results-background-color: @body-bg;

// metadata page
@gn-md-view-background-color: @body-bg;
