<div class="col-xs-12 clearfix">
                <span class="share-banner-title hidden-xs" data-translate=""
                >shareOn</span
                >
  <span class="hidden-xs">:</span>

  <a
    data-ng-href="https://twitter.com/share?url={{ socialMediaLink | encodeURIComponent }}"
    title="{{ 'shareOnTwitter' | translate }}"
    target="_blank"
    class="btn btn-link btn-sm"
  >
    <i class="fa fa-fw fa-twitter"></i>
    <span class="hidden-xs">Twitter</span>
  </a>
  <a
    data-ng-href="https://www.facebook.com/sharer.php?u={{ socialMediaLink | encodeURIComponent }}"
    title="{{ 'shareOnFacebook' | translate }}"
    target="_blank"
    class="btn btn-link btn-sm"
  >
    <i class="fa fa-fw fa-facebook"></i>
    <span class="hidden-xs">Facebook</span>
  </a>
  <a
    data-ng-href="http://www.linkedin.com/shareArticle?mini=true&amp;summary={{ md.resourceTitle }}&amp;url={{ socialMediaLink | encodeURIComponent }}"
    title="{{ 'shareOnLinkedIn' | translate }}"
    target="_blank"
    class="btn btn-link btn-sm"
  >
    <i class="fa fa-fw fa-linkedin"></i>
    <span class="hidden-xs">LinkedIn</span>
  </a>
  <a
    data-ng-href="mailto:?subject={{ md.resourceTitle }}&amp;body={{ socialMediaLink | encodeURIComponent }}"
    title="{{ 'shareByEmail' | translate }}"
    target="_blank"
    class="btn btn-link btn-sm"
  >
    <i class="fa fa-fw fa-envelope-o"></i>
    <span class="hidden-xs">Email</span>
  </a>
  <a
    data-ng-click="mdService.getPermalink(md)"
    title="{{ 'permalink' | translate }}"
    class="btn btn-link btn-sm"
  >
    <i class="fa fa-fw fa-link"></i>
    <span class="hidden-xs">Link</span>
  </a>

  <!-- feedback -->
  <div
    class="pull-right"
    data-gn-md-feedback="md"
    data-show-label="feedback"
  ></div>
</div>
