<div>
  <h1>
    <i class="fa gn-icon-{{mdView.current.record.resourceType[0]}}"></i>

    {{mdView.current.record.resourceTitle}}

    <span
      class="text-muted badge"
      data-ng-class="{
              'text-success': mdView.current.record.mdStatus == 2,
              'text-warning': mdView.current.record.mdStatus == 4
              }"
      data-ng-if="user.isEditorOrMore()
                      && mdView.current.record.mdStatus < 50
                      && isMdWorkflowEnable"
      >{{('mdStatus-' + mdView.current.record.mdStatus) | translate}}</span
    >
  </h1>

  <div
    data-ng-if="mdView.current.record.relatedRecords"
    data-gn-related="mdView.current.record"
    data-user="user"
    data-alt-title="{{'memberOf' | translate}}"
    data-layout="title"
    data-types="parent"
  ></div>

  <p data-ng-bind-html="(mdView.current.record.resourceAbstract) | linky | newlines"></p>
</div>
