<!-- Powered by: {{info.site.platform.name}}, version: {{info.site.platform.version}} -->
<div class="container">

  <header data-ng-include="'../../catalog/views/ngr/templates/header.html'"></header>

  <div class="navbar navbar-default gn-top-bar" role="navigation"
       data-ng-include="'../../catalog/views/ngr/templates/top-toolbar.html'"
       xmlns="http://www.w3.org/1999/html">
  </div>

  <div data-gn-alert-manager="" id="alerts"></div>
  <div class="gn-search-page" data-ng-controller="NgrSearchController">
  <div class="gn-divider-bar"></div>
  <div class="" data-ng-controller="gnsNGR">

    <div class="container intro-text" data-ng-show="activeTab == '/home'">
      <h1 id="homeHeaderText">{{'homeHeaderText'|translate}}</h1>
		  <p data-translate="" data-translate-values="{records: '{{searchInfo.count}}'}">searchOver</p>
      <!-- <div class="visible-xs intro-scrolldown">
          <span class="fa fa-angle-down"></span>
      </div> -->
    </div>

    <div class="page">
      <div data-ng-include="'../../catalog/views/ngr/templates/home.html'"
           data-ng-show="activeTab == '/home'"/>
      <div data-ng-include="'../../catalog/views/ngr/templates/results.html'"
           data-ng-show="activeTab == '/search'"/>
      <div data-ng-if="isMapViewerEnabled"
           data-ng-include="'../../catalog/views/ngr/templates/map.html'"
           data-ng-show="activeTab == '/map'"/>
      <div data-ng-include="'../../catalog/views/ngr/templates/recordView.html'"
           data-ng-show="activeTab == '/metadata'"/>
      <div data-ng-include="'../../catalog/views/ngr/templates/about.html'"
           data-ng-show="activeTab == '/about'"/>
  	  <div data-ng-include="'../../catalog/views/ngr/templates/devel.html'"
           data-ng-show="activeTab == '/devel'"/>
      <div data-ng-include="'../../catalog/views/ngr/templates/latest.html'"
           data-ng-show="activeTab == '/latest'"/>
    </div>
  </div>

</div>


<div data-ng-include="'../../catalog/views/ngr/templates/footer.html'"></div>

</div>
</div>
</html>
