<ul class="list-group gn-resultview">
  <li class="list-group-item" data-ng-repeat="md in searchResults.records" gn-displayextent-onhover="" gn-zoomto-onclick gn-fix-mdlinks="">
    <div class="media">

      <div class="media-body">
    <!--Edit button-->
    <div class="pull-right hidden-sm">
      <a class="gn-md-edit-btn" ng-href="catalog.edit#/metadata/{{md['geonet:info'].id}}" data-ng-show="isAdmin"
         class="btn btn-link pull-right">
        <i class="fa fa-pencil"></i>
      </a>
      <div title="{{'thumbnail'|translate}}" class="gn-md-thumbnail" data-ng-if="md.getThumbnails().small.indexOf('http')===0" style="background-size:cover;background-image:url({{md.getThumbnails().small}})">
      </div>
    </div>
        <h4 data-ng-click="openRecord($index, md, searchResults.records)">
          <input gn-selection-md type="checkbox" ng-model="md['geonet:info'].selected" ng-change="change()" data-ng-show="isAdmin"/>
      <a href="#/metadata/{{md.getUuid()}}">
          <span class="fa gn-icon-{{md.type[0]}}" title="{{md.type[0]|translate}}"></span>
          <span title="{{md.title || md.defaultTitle}}">
          {{md.title || md.defaultTitle}}</span></a>
        </h4>

      <div data-ng-show="md.revisionDate">
    <b data-translate="">revisionDate</b>: <span data-gn-humanize-time="{{md.revisionDate|empty}}" data-from-now=""  data-format="YYYY-MM-DD"></span>
    </div>
    <div data-ng-show="!md.revisionDate&&md.creationDate">
    <b data-translate="">creationDate</b>: <span data-gn-humanize-time="{{md.creationDate|empty}}" data-from-now=""  data-format="YYYY-MM-DD"></span>
    </div>
    <div data-ng-show="!md.revisionDate&&!md.creationDate&&md.publicationDate">
    <b data-translate="">publicationDate</b>: <span data-gn-humanize-time="{{md.publicationDate|empty}}" data-from-now=""  data-format="YYYY-MM-DD"></span>
    </div>

    <div data-ng-if="md.topicCat.length > 0">
      <b data-translate="">topiccat</b>:
            <a class="btn btn-link " data-ng-repeat="t in md.topicCat"
               data-ng-href="#/search?topicCat={{t}}">{{t | translate}}</a>
    </div>
    <p class="text-justify" dd-text-collapse dd-text-collapse-max-length="350" dd-text-collapse-text="{{md.abstract || md.defaultAbstract}}"></p>
      </div>
    </div>

  </li>
</ul>
