<form id="dutch-search-form"
      class="gn-top-search"
      role="form">
  <input type="hidden" name="_csrf" value="{{csrf}}"/>
  <div data-ng-class="fluidLayout ? 'container-fluid' : 'container'" class="gn-nopadding-bottom">
    <!--ANY full text search input-->
    <div class="row">
      <div class="col-md-6 col-md-offset-1 gn-nopadding-right">
        <div class="form-group dutch-search-topic">
          <label for="gn-any-field" data-translate="">SearchAny</label>
          <div class="input-group">
            <button data-gn-user-searches-list=""
                    data-ng-cloak=""
                    data-mode="button"/>
            <input type="text"
                  class="form-control input-lg"
                  id="gn-any-field"
                  title="{{'anyFieldTitle' | translate}}"
                  data-ng-model="searchObj.params.any"
                  autocomplete="off"
                  placeholder="{{'anyPlaceHolder' | translate}}"
                  aria-label="{{'anyPlaceHolder' | translate}}"
                  data-ng-keyup="$event.keyCode == 13 && triggerSearch()"
                  data-typeahead="address for address in getAnySuggestions($viewValue, searchObj)"
                  data-typeahead-loading="anyLoading" class="form-control"
                  data-typeahead-min-length="1"
                  data-typeahead-focus-first="false"
                  data-typeahead-wait-ms="600">
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="btn-group dutch-search-btn-group">

          <button type="button"
                  data-ng-click="triggerSearch()"
                  title="{{'search' | translate}}"
                  class="btn btn-primary dutch-search-button">
            <span data-translate="">search</span>
          </button>
          <button type="button"
                  class="btn btn-primary dropdown-toggle"
                  data-ng-if="::exactMatchToggle"
                  data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu"
              data-ng-if="::exactMatchToggle">
            <li class="dropdown-header"
                title="{{'exactMatch-help' | translate}}">
              <label>
                <input type="checkbox"
                        data-ng-model="searchObj.state.exactMatch"
                        aria-label="{{'exactMatch' | translate}}">
                <span data-translate="">exactMatch</span>
              </label>
            </li>
          </ul>
        </div>

        <button type="button"
                data-ng-click="resetSearch(searchObj.defaultParams);"
                title="{{'ClearTitle' | translate}}"
                
                class="btn btn-primary dutch-reset-button">
          <span data-translate="">Reset</span>
        </button>

      </div>

    </div>
    
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <button type="button"
                id="btn-advanced-search"
                class="btn btn-default"
                title="{{'advanced' | translate}}"
                data-ng-model="searchObj.advancedMode"
                btn-checkbox=""
                btn-checkbox-true="1"
                btn-checkbox-false="0">
          <span data-translate="">advanced</span> <i class="fa fa-arrow-down"></i>
        </button>
      </div>
    </div>

    <div class="row" data-ng-show="searchObj.advancedMode">
      <!--Advanced search form-->
      <div data-ng-include="advancedSearchTemplate"></div>
    </div>
  </div>
</form>
