<div data-ng-class="fluidLayout ? 'container-fluid' : 'container'">
  <div class="row">
    <div class="col-sm-12 gn-nopadding-left gn-nopadding-right">

      <div class="row">
        <!-- block 1 -->
        <div class="col-sm-12 gn-nopadding-left">
          <ul class="nav navbar-nav">
            <li class="gn-footer-text">
              <span data-translate=""
                    data-translate-values="{platform: '{{info['system/platform/name']}}', version: '{{info['system/platform/version']}}', subversion: '{{info['system/platform/subVersion']}}'}">
                versionDetails</span>
            </li>
            <li gn-static-pages-list-viewer data-section="footer" data-language="{{lang}}" />
          </ul>
          <ul class="nav navbar-nav" ng-show="getSocialLinksVisible()">
            <li class="gn-footer-text">
              <span data-translate="">shareOn</span>
            </li>
            <li>
              <a href="https://twitter.com/share?url={{socialMediaLink | encodeURIComponent}}"
                 target="_blank"
                 title="{{'shareOnTwitter' | translate}}"
                 aria-label="{{'shareOnTwitter' | translate}}">
                 <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/sharer.php?u={{socialMediaLink | encodeURIComponent}}"
                 target="_blank"
                 title="{{'shareOnFacebook' | translate}}"
                 aria-label="{{'shareOnFacebook' | translate}}">
                 <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{socialMediaLink | encodeURIComponent}}"
                 target="_blank"
                 title="{{'shareOnLinkedIn' | translate}}"
                 aria-label="{{'shareOnLinkedIn' | translate}}">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="mailto:?subject={{info.site.name}}&amp;body={{socialMediaLink | encodeURIComponent}}"
                 target="_blank"
                 title="{{'shareByEmail' | translate}}"
                 aria-label="{{'shareByEmail' | translate}}">
                 <i class="fa fa-envelope-o"></i>
              </a>
            </li>
            <li>
              <a href=""
                 data-ng-click="getPermalink('', socialMediaLink)"
                 title="{{'permalink' | translate}}"
                 aria-label="{{'permalink' | translate}}">
                <i class="fa fa-fw fa-link"></i></a>
            </li>
            <li>
              <a href="rss.search?sortBy=changeDate&georss=simplepoint"
                 title="{{'lastRecords' | translate}}"
                 aria-label="{{'lastRecords' | translate}}">
                <i class="fa fa-rss"/>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

