<!-- Powered by: {{info.site.platform.name}}, version: {{info.site.platform.version}} -->
<div class="container">

  
<div class="pull-right contact-links" data-translate="">header-right</div>
<div class="branding">
  <a href="#/home"> 
    <img class="gn-logo"
             data-ng-src="../../images/logos/{{info.site.siteId}}.png?{{info.site.lastUpdate}}" alt="Home">
    </a>
</div>

  <div class="navbar navbar-default gn-top-bar" role="navigation"
       data-ng-include="'../../catalog/views/dutch/templates/top-toolbar.html'">
  </div>

  <div data-gn-alert-manager="" id="alerts"></div>
  <div class="gn-search-page" data-ng-controller="DutchSearchController">
  <div class="gn-divider-bar"></div>
  <div class="" data-ng-controller="gnsDUTCH">

    <div class="container intro-text" data-ng-show="activeTab == '/home'">
      <h1 id="homeHeaderText">{{info.site.name}}</h1>
      <p data-translate="" data-translate-values="{records: '{{searchInfo.count}}'}">searchOver</p>
    </div>

    <div class="page">
      <div data-ng-include="'../../catalog/views/dutch/templates/home.html'"
           data-ng-show="activeTab == '/home'"/>
      <div data-ng-include="'../../catalog/views/dutch/templates/results.html'"
           data-ng-show="activeTab == '/search'"/>
      <div data-ng-if="isMapViewerEnabled"
           data-ng-include="'../../catalog/views/dutch/templates/map.html'"
           data-ng-show="activeTab == '/map'"/>
      <div data-ng-include="'../../catalog/views/dutch/templates/recordView.html'"
           data-ng-show="activeTab == '/metadata'"/>
      <div data-ng-include="'../../catalog/views/dutch/templates/about.html'"
           data-ng-show="activeTab == '/about'"/>
      <div data-ng-include="'../../catalog/views/dutch/templates/devel.html'"
           data-ng-show="activeTab == '/devel'"/>
      <div data-ng-include="'../../catalog/views/dutch/templates/latest.html'"
           data-ng-show="activeTab == '/latest'"/>
    </div>
  </div>
</div>

<div id="footer" class="footer clearfix">
  <div class="pull-left" data-translate="">footer-left {{info.site.platform.version}}</div>
  <div class="pull-right" data-translate="">footer-right</div>
</div>  
</div>
</div>
</html>
