<!-- Powered by: {{info.site.platform.name}}, version: {{info.site.platform.version}} -->
<div class="container">
  <div class="branding" role="banner">
    <a data-gn-active-tb-item="{{gnCfg.mods.home.appUrl}}">
      <img class="gn-logo"
           data-ng-src="{{gnUrl}}../images/logos/{{info['system/site/siteId']}}.png?random{{info['system/site/lastUpdate']}}" 
           title="{{'home'|translate}}"/>
    </a>
  </div>

  <div class="navbar navbar-default gn-top-bar" role="navigation"
       data-ng-include="'../../catalog/views/dutch/templates/top-toolbar.html'">
  </div>

  <div data-gn-alert-manager="" id="alerts"></div>
  <div class="gn-search-page"
       data-ng-controller="DutchSearchController"
       role="main">
    <div class="gn-divider-bar"></div>

    <div class="" data-ng-controller="gnsDutch">

      <div class="container intro-text" data-ng-show="activeTab == '/home'">
        <h1 id="homeHeaderText">{{info['system/site/name']}}</h1>
        <p data-translate="" data-translate-values="{records: '{{searchInfo.count}}'}">searchOver</p>
      </div>

      <div class="page" data-ng-class="{mappage: activeTab === '/map'}">
        <div data-ng-include="'../../catalog/views/dutch/templates/home.html'"
            data-ng-show="activeTab == '/home'"/>
        <div data-ng-include="'../../catalog/views/dutch/templates/results.html'"
            data-ng-show="activeTab == '/search'"/>
        <div data-ng-if="isMapViewerEnabled"
            data-ng-include="'../../catalog/views/dutch/templates/map.html'"
            data-ng-show="activeTab == '/map'"/>
        <div data-ng-include="'../../catalog/views/dutch/templates/recordView.html'"
            data-ng-show="activeTab == '/metadata'"/>
        <div data-ng-include="'../../catalog/views/default/templates/page.html'"
           data-ng-if="activeTab == '/page'"/>
      </div>
    </div>
  </div>
  <!-- /.gn-search-page -->

<div id="footer" class="footer clearfix">
  <div class="pull-left">
    <a href="https://geocat.net/enterprise">
      <span data-translate=""
          data-translate-values="{platform: 'GeoNetwork Enterprise', version: '{{info['system/platform/version']}}', subversion: '{{info['system/platform/subVersion']}}'}">
        versionDetails</span></a>
</div>  
</div>
</div>
</html>
