<!-- dutch change: custom list view -->
<ul class="list-group gn-resultview">
  <li class="list-group-item"
      data-ng-repeat="md in searchResults.records"
      data-gn-fix-mdlinks=""
      data-gn-displayextent-onhover=""
      data-gn-zoomto-onclick="">

    <div class="media">

      <div class="media-body">
        <!--Edit button-->
        <div class="pull-right hidden-sm">
          <a ng-href="catalog.edit#/metadata/{{md['geonet:info'].id}}" data-ng-show="isAdmin"
             class="btn btn-link pull-right">
            <i class="fa fa-pencil"></i>
           </a>
          <!--Catalog or group Logo-->
          <div class="gn-md-logo">
            <a class="pull-left" ng-if="md.groupWebsite" href="{{md.groupWebsite}}" target="_blank">
              <img ng-src="../..{{md.logo}}"
                  alt="{{'siteLogo' | translate}}"
                  class="media-object"/>
            </a>
            <a class="pull-left" ng-if="!md.groupWebsite">
              <img ng-src="../..{{md.logo}}"
                  alt="{{'siteLogo' | translate}}"
                  class="media-object"/>
            </a>
          </div>
        </div>
        <input gn-selection-md type="checkbox"
               data-ng-show="isAdmin"
               class="gn-select-record"
               ng-model="md['geonet:info'].selected"
               aria-label="{{'clickToSelect' | translate}}"
               ng-change="change()"/>
        <div data-ng-click="openRecord($index, md, searchResults.records)">
          <h1>
            <a href=""
               gn-metadata-open="md"
               gn-index="$index"
               gn-records="searchResults.records"
               gn-formatter="formatter.defaultUrl"
               title="{{md.title || md.defaultTitle}}"
               aria-label="{{md.resourceTitle}}">

              {{md.resourceTitle}}
            </a>
          </h1>
        </div>

        <!-- organization -->
        <div ng-if="md.allContacts.metadata">
          <span data-ng-repeat="o in md.allContacts.metadata">
            <b translate="">organisation</b>: {{o.organisation}}<br/>
          </span>
        </div>
        <!-- dates -->
        <div data-ng-show="md.dateStamp">
          <b data-translate="">revisionDate</b>:
          <span data-gn-humanize-time="{{md.dateStamp|empty}}" data-from-now="" data-format="YYYY-MM-DD"></span>
        </div>
        <div data-ng-repeat="d in md.resourceDate">
          <b data-translate="">{{d.type | translate}}</b>:
          <span data-gn-humanize-time="{{d.date|empty}}" data-from-now="" data-format="YYYY-MM-DD"></span>
        </div>
        <!-- categories -->
        <div class="gn-md-category"
             title="{{'listOfCategories' | translate}}"
             data-ng-class="md.category.length > 0 ||
                       md.topic.length > 0 ||
                       md.inspireThemeUri.length > 0 ? '' : 'hidden'">
          <b data-translate="">topiccat</b>:
          <a class="btn btn-link btn-badge"
            data-ng-repeat="t in md.topic"
            data-ng-href="#/search?topicCat={{t}}">{{t | translate}}</a>
        </div>

		    <p title="{{md.resourceAbstract}}">{{md.resourceAbstract.split('\n')[0] | striptags}}</p>
      </div>
    </div>
  </li>
</ul>
