<div class="crumb" data-ng-class="fluidLayout ? 'container-fluid' : 'container'">
  <div class="row">
    <div class="col-md-12">
      <a href="#/home" data-translate="">Home</a> 
      <span data-ng-show="mdView.records[0]">
        / <a href data-ng-click="backToSearch()" data-translate="">search</a>
        / <a href="#/metadata/{{mdView.records[0]['geonet:info'].uuid}}" alt="{{(mdView.records[0].title||mdView.records[0].defaultTitle)}}">{{(mdView.records[0].title||mdView.records[0].defaultTitle) | characters:25}}</a>
      </span>
      / <span data-translate="">makeYourMap</span>
    </div>
  </div>
</div>

<div class="">
  <div gn-main-viewer=""
       data-map="searchObj.viewerMap">
  </div>
</div>