<div data-ng-controller="GnMdViewController">
  <!-- dutch change: added crumb path -->
  <div class="crumb" data-ng-class="fluidLayout ? 'container-fluid' : 'container'">
    <div class="row">
      <div class="col-md-12">
        <a href="#/home" data-translate="">Home</a>
        / <a href data-ng-click="backToSearch()" data-translate="">search</a> /
        <span class="gn-visible-xs">
          {{ mdView.current.record.resourceTitle | characters:25}}</span
        ><span class="gn-hidden-xs"> {{ mdView.current.record.resourceTitle }}</span>
      </div>
    </div>
  </div>

  <div
    data-ng-if="mdView.current.record.draft == 'e' || mdView.current.record.draft == 'y'"
    data-ng-show="user.canEditRecord(mdView.current.record)"
    data-ng-class="fluidLayout ? 'container-fluid' : 'container'"
    class="bg-info see-draft-alert"
  >
    <!-- If draft exists, show a link -->
    <a
      data-ng-if="mdView.current.record.draft == 'e'"
      class="see-draft see-draft-not-approved"
      title=" {{ ('status-' + mdView.current.record.mdStatus) | translate }}"
      data-ng-href="#/metadraf/{{ md.uuid }}"
      data-ng-show="user.canEditRecord(mdView.current.record)"
    >
      {{ 'seeDraft' | translate }}
    </a>

    <!-- If approved exists, show a link -->
    <a
      data-ng-if="mdView.current.record.draft == 'y'"
      class="see-draft see-draft-approved"
      title=" {{ ('status-' + mdView.current.record.mdStatus) | translate }}"
      data-ng-href="#/metadata/{{ md.uuid }}"
      data-ng-show="user.canEditRecord(mdView.current.record)"
    >
      {{ 'seeNoDraft' | translate }}
    </a>
  </div>

  <div data-ng-class="fluidLayout ? 'container-fluid' : 'container'">
    <div
      class="alert alert-warning"
      data-ng-hide="!mdView.loadDetailsFinished || mdView.current.record"
      data-translate=""
      data-translate-values="{uuid: '{{ recordIdentifierRequested | htmlToPlaintext }}', url: '{{ url | encodeURIComponent }}'}"
    >
      recordNotFound
    </div>
    <div class="row" data-ng-show="!mdView.loadDetailsFinished">
      <div class="col-md-12 gn-margin-top gn-margin-bottom text-center">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
      </div>
    </div>

    <div class="row gn-md-view gn-md-view-40" data-ng-show="mdView.current.record">
      <div class="btn-toolbar" role="toolbar">
        <!-- back -->
        <div class="btn-group" role="group">
          <button
            class="btn btn-default"
            data-ng-click="closeRecord(mdView.current.record)"
          >
            <span class="fa fa-fw fa-search"></span>
            {{ 'backTo' + (fromView || 'search') | translate}}
          </button>
        </div>

        <!-- next/previous -->
        <div class="btn-group" role="group">
          <a
            class="btn btn-default"
            title="{{ mdView.records[mdView.current.index - 1].resourceTitle }}"
            gn-metadata-open="mdView.records[mdView.current.index - 1]"
            gn-records="mdView.records"
            gn-formatter="formatter.defaultUrl"
            data-ng-class="{'disabled': mdView.records[mdView.current.index - 1] === undefined}"
            data-ng-show="mdView.records.length > 1"
          >
            <span class="fa fa-fw fa-angle-left"></span>
            <span data-translate="" class="hidden-sm hidden-md">previous</span>
          </a>
          <a
            class="btn btn-default"
            data-ng-disabled="mdView.records[mdView.current.index + 1] === undefined"
            title="{{ mdView.records[mdView.current.index + 1].resourceTitle }}"
            gn-metadata-open="mdView.records[mdView.current.index + 1]"
            gn-records="mdView.records"
            gn-formatter="formatter.defaultUrl"
            data-ng-class="{'disabled': mdView.records[mdView.current.index + 1] === undefined}"
            data-ng-show="mdView.records.length > 1"
          >
            <span data-translate="" class="hidden-sm hidden-md">next</span>
            <span class="fa fa-fw fa-angle-right"></span>
          </a>
        </div>

        <div class="dutch-edit-buttons pull-right">
          <!-- edit -->
          <div class="btn-group pull-left" role="group">
            <a
              class="btn btn-default gn-md-edit-btn"
              data-ng-show="user.canEditRecord(mdView.current.record) && (user.isReviewerOrMore() || mdView.current.record.mdStatus != 4 || !isMdWorkflowEnable)"
              data-ng-href="catalog.edit#/metadata/{{ mdView.current.record.id }}?redirectUrl=catalog.search%23%2Fmetadata%2F{{ mdView.current.record.uuid }}"
              title="{{ 'edit' | translate }}"
            >
              <span class="fa fa-fw fa-pencil"></span>
              <span data-translate="" class="hidden-sm hidden-xs">edit</span>
            </a>
          </div>

          <!-- delete -->
          <div class="btn-group pull-left" role="group">
            <a
              class="btn btn-default"
              href
              data-ng-show="user.canEditRecord(mdView.current.record)
                            && (user.isReviewerOrMore() || mdView.current.record.mdStatus != 4 || !isMdWorkflowEnable)"
              data-gn-click-and-spin="deleteRecord(mdView.current.record)"
              data-gn-confirm-click="
                {{ (mdView.current.record.draft != 'y') ? 'deleteRecordConfirm' : 'deleteWorkingCopyRecordConfirm' | translate:mdView.current.record}}"
              title="{{ (mdView.current.record.draft != 'y') ? 'delete' : 'cancelWorkingCopy' | translate}}"
            >
              <span class="fa fa-fw fa-times"></span>
              <span
                data-translate=""
                class="hidden-sm hidden-xs"
                data-ng-if="mdView.current.record.draft == 'y'"
                >cancelWorkingCopy</span
              >
              <span
                data-translate=""
                class="hidden-sm hidden-xs"
                data-ng-if="mdView.current.record.draft != 'y'"
                >delete</span
              >
            </a>
          </div>

          <!-- manage -->
          <div
            class="gn-md-actions-btn pull-left"
            data-gn-md-actions-menu="mdView.current.record"
          />

          <!-- display mode -->
          <div class="btn-group gn-view-menu-button pull-left">
            <button
              type="button"
              class="btn btn-default dropdown-toggle"
              data-toggle="dropdown"
              aria-label="{{ 'chooseAView' | translate }}"
              aria-expanded="false"
            >
              <span class="fa fa-fw fa-eye"></span>
              <span data-translate="" class="hidden-sm hidden-xs">chooseAView</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li
                role="menuitem"
                data-ng-repeat="f in formatter.list"
                data-ng-class="currentFormatter === f.url ? 'disabled' : ''"
              >
                <a
                  href=""
                  gn-metadata-open="mdView.current.record"
                  gn-records="mdView.records"
                  gn-formatter="f && f.url"
                >
                  {{ f.label | translate }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div
        data-ng-show="gnMdViewObj.usingFormatter"
        id="gn-metadata-display"
        class="gn-metadata-display"
      ></div>

      <div data-ng-show="!gnMdViewObj.usingFormatter" class="gn-metadata-display">
        <!-- dutch change: title and hierarchy full width -->
        <div class="col-md-12">
          <h1>
            <i class="fa gn-icon-{{ mdView.current.record.resourceType[0] }}" />
            {{ mdView.current.record.resourceTitle }}
            <span
              class="text-muted badge"
              data-ng-class="{'text-success': md.mdStatus == 2, 'text-warning': md.mdStatus == 4}"
              data-ng-if="user.isEditorOrMore() && md.mdStatus<50 && isMdWorkflowEnable"
              >{{ ('mdStatus-' + md.mdStatus) | translate }}</span
            >
          </h1>

          <!-- hierarchy -->
          <h2 data-ng-if="mdView.current.record.resourceType.length > 0">
            <span data-translate="">types</span>:
            <span
              data-ng-repeat="t in mdView.current.record.resourceType track by $index"
              class="text-capitalize"
            >
              {{ t|translate }}</span
            >
          </h2>
        </div>

        <div class="col-md-9 gn-record">
          <div
            class="gn-margin-bottom gn-abstract"
            data-ng-bind-html="(mdView.current.record.resourceAbstract) | linky | newlines"
          />

          <div data-gn-related-observer class="gn-margin-top">
            <tabset id="detail-tabset" type="tabs" justified="false">
              <!-- downloads & links -->
              <tab
                heading="{{ 'mdTabRelations' | translate }}"
                active="infoTabs.relations.active"
              >
                <!-- links (Download, API, Others) -->
                <div class="row gn-section">
                  <div class="col-md-12 gn-record">
                    <div
                      ng-include="'../../catalog/views/default/templates/recordView/downloads.html'"
                    />
                  </div>
                </div>

                <div class="row gn-section">
                  <div class="col-md-12 gn-record">
                    <div
                      data-ng-if="mdView.current.record.related.uuids"
                      data-gn-related="mdView.current.record"
                      data-user="user"
                      data-layout="card"
                      data-types="services"
                      data-title="{{ '<h2>' + ('openRecordservices' | translate) + '</h2>' }}"
                    ></div>
                    <div
                      data-ng-if="mdView.current.record.related.uuids"
                      data-gn-related="mdView.current.record"
                      data-user="user"
                      data-layout="card"
                      data-size="4"
                      data-types="datasets"
                      data-title="{{ '<h2>' + ('openRecorddatasets' | translate) + '</h2>' }}"
                    ></div>
                  </div>
                </div>

                <div class="row gn-section">
                  <div class="col-md-12 gn-record">
                    <div
                      data-ng-if="mdView.current.record.related.uuids"
                      data-gn-related="mdView.current.record"
                      data-user="user"
                      data-layout="card"
                      data-types="children"
                      data-title="{{ 'seriesComposedOf' | translate }}"
                    ></div>

                    <div
                      ng-include="'../../catalog/views/default/templates/recordView/related.html'"
                    />
                  </div>
                </div>
              </tab>
              <!-- /downloads & links -->

              <!-- general -->
              <tab
                heading="{{ 'mdTabGeneral' | translate }}"
                active="infoTabs.general.active"
              >
                <h2 data-translate="">aboutThisResource</h2>
                <table class="table table-striped">
                  <tbody>
                    <!-- keywords -->
                    <tr
                      data-ng-repeat="(key, t) in mdView.current.record.allKeywords"
                      ng-if="key.indexOf('th_httpinspireeceuropaeutheme') == -1"
                    >
                      <th>{{ (t.title || key) | translate }}</th>
                      <td>
                        <div class="gn-keywords">
                          <div
                            data-ng-repeat="k in t.keywords track by $index"
                            data-ng-if="k"
                            class="tt-cursor gn-keyword"
                          >
                            <span data-ng-hide="::!!k.link"
                              >{{::k.default | capitalize}}</span
                            >
                            <a
                              href=""
                              data-ng-href="{{::k.link}}"
                              data-ng-show="::!!k.link"
                              >{{::k.default | capitalize}}</a
                            >
                            <a
                              href=""
                              title="{{ 'clickToFilterOn' | translate }} {{::k.default | capitalize}}"
                              aria-label="{{ 'clickToFilterOn' | translate }} {{::k.default | capitalize}}"
                              data-ng-click="filterBy('tag.default', k.default)"
                            >
                              <i class="fa fa-search" />
                            </a>
                          </div>
                        </div>
                      </td>
                    </tr>

                    <!-- topic -->
                    <tr data-ng-if="mdView.current.record.cl_topic.length > 0">
                      <th data-translate="">listOfCategories</th>
                      <td>
                        <a
                          class="dutch-keyword"
                          data-ng-repeat="t in mdView.current.record.cl_topic track by $index"
                          data-ng-href='#/search?query_string={"cl_topic.key": {"{{t.key}}":true}}'
                        >
                          <i class="fa gn-icon-{{ t.key }}"></i>
                          {{ t.key | translate }}
                        </a>
                      </td>
                    </tr>

                    <!-- useLimitation -->
                    <tr data-ng-if="mdView.current.record.MD_ConstraintsUseLimitation">
                      <th data-translate="">useLimitation</th>
                      <td>
                        <p
                          data-ng-repeat="i in mdView.current.record.MD_ConstraintsUseLimitation"
                        >
                          {{ i }}
                        </p>
                      </td>
                    </tr>

                    <!-- Legal constraints -->
                    <tr
                      data-ng-if="(mdView.current.record.MD_LegalConstraintsOtherConstraintsObject | metadataLicenses).length > 0"
                    >
                      <th data-translate="">license</th>
                      <td>
                        <div
                          data-ng-repeat="c in mdView.current.record.MD_LegalConstraintsOtherConstraintsObject"
                          data-ng-if="c.link"
                          data-ng-bind-html="c.link | striptags | linky:'_blank'"
                        ></div>
                        <div
                          data-ng-repeat="c in mdView.current.record.MD_LegalConstraintsOtherConstraintsObject"
                          data-ng-if="c.default.indexOf('http') > -1"
                          data-ng-bind-html="c.default | striptags | linky:'_blank'"
                        ></div>
                      </td>
                    </tr>

                    <!-- status -->
                    <tr data-ng-if="mdView.current.record.cl_status">
                      <th data-translate="">resourceStatus</th>
                      <td>
                        <p data-ng-repeat="c in mdView.current.record.cl_status">
                          <span> {{ c.default }} </span>
                        </p>
                      </td>
                    </tr>

                    <!-- update frequency -->
                    <tr
                      data-ng-if="mdView.current.record.cl_maintenanceAndUpdateFrequency"
                    >
                      <th data-translate="">updateFrequency</th>
                      <td>
                        <p
                          data-ng-repeat="c in mdView.current.record.cl_maintenanceAndUpdateFrequency"
                        >
                          <span> {{ c.default }} </span>
                        </p>
                      </td>
                    </tr>

                    <!-- creation date -->
                    <tr
                      data-ng-if="(mdView.current.record.resourceDate | filter: {type: 'creation'}).length > 0"
                    >
                      <th data-translate="">creationDate</th>
                      <td>
                        <div
                          data-ng-repeat="d in mdView.current.record.resourceDate | filter: {type: 'creation'}"
                        >
                          <span
                            data-gn-humanize-time="{{ d.date|empty }}"
                            data-format="DD-MM-YYYY"
                          />
                        </div>
                      </td>
                    </tr>

                    <!-- publication date -->
                    <tr
                      data-ng-if="(mdView.current.record.resourceDate | filter: {type: 'publication'}).length > 0"
                    >
                      <th data-translate="">publicationDate</th>
                      <td>
                        <div
                          data-ng-repeat="d in mdView.current.record.resourceDate | filter: {type: 'publication'}"
                        >
                          <span
                            data-gn-humanize-time="{{ d.date|empty }}"
                            data-format="DD-MM-YYYY"
                          />
                        </div>
                      </td>
                    </tr>

                    <!-- revision date -->
                    <tr
                      data-ng-if="(mdView.current.record.resourceDate | filter: {type: 'revision'}).length > 0"
                    >
                      <th data-translate="">revisionDate</th>
                      <td>
                        <div
                          data-ng-repeat="d in mdView.current.record.resourceDate | filter: {type: 'revision'}"
                        >
                          <span
                            data-gn-humanize-time="{{ d.date|empty }}"
                            data-format="DD-MM-YYYY"
                          />
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <!--<h2 data-translate="">preview</h2>-->
                <!--<div class="gn-map-preview"/>-->

                <h2 data-translate="">technicalInformation</h2>

                <!--
                    Technische informatie:
                    - Code referentie systeem
                    - Algemene beschrijving herkomst
                -->
                <table class="table table-striped">
                  <tbody>
                    <!-- identifier -->
                    <tr data-ng-if="mdView.current.record.resourceIdentifier">
                      <th data-translate="">identifier</th>
                      <td>
                        <span
                          data-ng-repeat="i in mdView.current.record.resourceIdentifier track by $index | limitTo: 10"
                        >
                          {{ i.code }}<br />
                        </span>
                      </td>
                    </tr>

                    <!-- spatial -->
                    <tr data-ng-if="mdView.current.record.coordinateSystem">
                      <th data-translate="">crs</th>
                      <td>
                        <span
                          data-ng-repeat="crs in mdView.current.record.coordinateSystem track by $index | limitTo: 10"
                        >
                          {{ crs|empty }}<br />
                        </span>
                      </td>
                    </tr>

                    <!-- lineage -->
                    <tr data-ng-if="mdView.current.record.lineage">
                      <th data-translate="">lineage</th>
                      <td>
                        <span
                          data-ng-bind-html="mdView.current.record.lineage | newlines  | striptags | linky"
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>

                <!-- TODOES -->
                <div
                  data-ng-if="mdView.current.record.featureTypes"
                  data-ng-repeat="featureType in mdView.current.record.featureTypes"
                >
                  <h3>
                    <span data-translate="">featureType</span>&nbsp;'{{
                    featureType.typeName }}'
                  </h3>

                  <table class="table table-striped">
                    <tbody>
                      <tr data-ng-if="featureType.typeName">
                        <th data-translate="">featureTypeName</th>
                        <td>{{ featureType.typeName }}</td>
                      </tr>
                      <tr data-ng-if="featureType.definition">
                        <th data-translate="">featureDefinition</th>
                        <td>{{ featureType.definition }}</td>
                      </tr>
                      <tr data-ng-if="featureType.code">
                        <th data-translate="">featureCode</th>
                        <td>{{ featureType.code }}</td>
                      </tr>
                      <tr data-ng-if="featureType.isAbstract">
                        <th data-translate="">featureIsAbstract</th>
                        <td>{{ featureType.isAbstract }}</td>
                      </tr>
                      <tr data-ng-if="featureType.aliases">
                        <th data-translate="">featureAliases</th>
                        <td>{{ featureType.aliases }}</td>
                      </tr>
                      <tr data-ng-if="featureType.attributeTable">
                        <th data-translate="">featureAttributeTable</th>
                        <td></td>
                      </tr>
                      <tr data-ng-if="featureType.attributeTable">
                        <td
                          colspan="2"
                          class="gn-noborder-top gn-nopadding-top gn-nopadding-bottom"
                        />
                      </tr>
                      <tr data-ng-if="featureType.attributeTable">
                        <td colspan="2" class="gn-noborder-top gn-table-attribute">
                          <div
                            data-ng-if="featureType.attributeTable"
                            data-gn-attribute-table-renderer="featureType.attributeTable"
                          ></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div data-gn-related-observer>
                  <div
                    data-gn-related="mdView.current.record"
                    data-user="user"
                    data-types="sources"
                    data-has-results="hasRelations.sources"
                    data-title="{{ 'sourceDatasets' | translate }}"
                  ></div>
                  <div
                    data-gn-related="mdView.current.record"
                    data-user="user"
                    data-types="hassources"
                    data-has-results="hasRelations.hassources"
                    data-title="{{ 'isSourceOfDatasets' | translate }}"
                  ></div>
                </div>

                <h2 data-translate="">metadataInformation</h2>

                <!--
                     Metadata informatie:
                     - Metadata unieke identifier
                     - Hierarchie niveau (placed just beneath the title)
                     - Metadata datum
                     - Metadata standaard naam
                     - Metadata standaard versie
                -->

                <table class="table table-striped">
                  <tbody>
                    <!-- ID -->
                    <tr>
                      <th data-translate="">mdId</th>
                      <td>
                        <p>
                          <i>{{ mdView.current.record.uuid }}</i>
                        </p>
                      </td>
                    </tr>

                    <!-- hierarchy -->
                    <tr>
                      <th data-translate="">types</th>
                      <td>
                        <p>{{ mdView.current.record.resourceType|empty|translate }}</p>
                      </td>
                    </tr>

                    <!-- date -->
                    <tr>
                      <th data-translate="">mdDate</th>
                      <td>
                        <p>
                          <span
                            data-gn-humanize-time="{{ mdView.current.record.changeDate }}"
                            data-format="DD-MM-YYYY"
                          />
                        </p>
                      </td>
                    </tr>

                    <!-- schema name -->
                    <tr data-ng-show="mdView.current.record.standardName!=''">
                      <th data-translate="">mdName</th>
                      <td>
                        <p>{{ mdView.current.record.standardName }}</p>
                      </td>
                    </tr>

                    <!-- schema version -->
                    <tr data-ng-show="mdView.current.record.standardVersion!=''">
                      <th data-translate="">mdVersion</th>
                      <td>
                        <p>{{ mdView.current.record.standardVersion }}</p>
                      </td>
                    </tr>

                    <!-- validation status -->
                    <tr data-ng-show="mdView.current.record.standardName!=''">
                      <th data-translate="">ValidationStatus</th>
                      <td>
                        <p>
                          {{ ('validStatus-'+mdView.current.record.valid)|translate }} (<i
                            >{{ mdView.current.record.documentStandard }}</i
                          >)
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </tab>
              <!-- /general -->

              <!-- contact -->
              <tab
                heading="{{ 'mdTabContact' | translate }}"
                active="infoTabs.contact.active"
              >
                <!-- Dataset contact -->
                <div data-ng-if="mdView.current.record.contactForResource">
                  <h2>
                    <span
                      >{{mdView.current.record.cl_hierarchyLevel[0].default |
                      capitalize}}</span
                    >
                    <span data-translate="">contact</span>
                  </h2>

                  <table
                    class="table table-striped"
                    data-ng-repeat="c in mdView.current.record.contactForResource"
                  >
                    <tbody>
                      <tr data-ng-if="c.individual">
                        <th>
                          <span data-translate="">mdContactName</span>
                        </th>
                        <td>{{c.individual}}</td>
                      </tr>

                      <tr data-ng-if="c.organisation">
                        <th>
                          <span data-translate="">mdContactSource</span>
                        </th>
                        <td>{{c.organisation}}</td>
                      </tr>

                      <tr data-ng-if="c.role">
                        <th>
                          <span data-translate="">mdContactRole</span>
                        </th>
                        <td>{{c.role | translate}}</td>
                      </tr>

                      <tr data-ng-if="c.position">
                        <th>
                          <span data-translate="">positionName</span>
                        </th>
                        <td>{{c.position}}</td>
                      </tr>

                      <tr data-ng-if="c.address">
                        <th>
                          <span data-translate="">address</span>
                        </th>
                        <td>{{c.address}}</td>
                      </tr>

                      <tr data-ng-if="c.email">
                        <th>
                          <span data-translate="">email</span>
                        </th>
                        <td>
                          <a href="mailto:{{c.email}}">{{c.email}}</a>
                        </td>
                      </tr>

                      <tr data-ng-if="c.website">
                        <th>
                          <span data-translate="">website</span>
                        </th>
                        <td>
                          <a href="{{c.website}}" target="_blank">{{c.website}}</a>
                        </td>
                      </tr>

                      <tr data-ng-if="c.phone">
                        <th>
                          <span data-translate="">mdPhone</span>
                        </th>
                        <td>
                          <a href="tel:{{c.phone}}">{{c.phone}}</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <!-- Metadata contact -->
                <div data-ng-if="mdView.current.record.contact">
                  <h2>
                    <span data-translate="">metadata</span>
                    <span data-translate="">contact</span>
                  </h2>

                  <table
                    class="table table-striped"
                    data-ng-repeat="c in mdView.current.record.contact"
                  >
                    <tbody>
                      <tr data-ng-if="c.individual">
                        <th>
                          <span data-translate="">mdContactName</span>
                        </th>
                        <td>{{c.individual}}</td>
                      </tr>

                      <tr data-ng-if="c.organisation">
                        <th>
                          <span data-translate="">mdContactSource</span>
                        </th>
                        <td>{{c.organisation}}</td>
                      </tr>

                      <tr data-ng-if="c.role">
                        <th>
                          <span data-translate="">mdContactRole</span>
                        </th>
                        <td>{{c.role | translate}}</td>
                      </tr>

                      <tr data-ng-if="c.position">
                        <th>
                          <span data-translate="">positionName</span>
                        </th>
                        <td>{{c.position}}</td>
                      </tr>

                      <tr data-ng-if="c.address">
                        <th>
                          <span data-translate="">address</span>
                        </th>
                        <td>{{c.address}}</td>
                      </tr>

                      <tr data-ng-if="c.email">
                        <th>
                          <span data-translate="">email</span>
                        </th>
                        <td>
                          <a href="mailto:{{c.email}}">{{c.email}}</a>
                        </td>
                      </tr>

                      <tr data-ng-if="c.website">
                        <th>
                          <span data-translate="">website</span>
                        </th>
                        <td>
                          <a href="{{c.website}}" target="_blank">{{c.website}}</a>
                        </td>
                      </tr>

                      <tr data-ng-if="c.phone">
                        <th>
                          <span data-translate="">mdPhone</span>
                        </th>
                        <td>
                          <a href="tel:{{c.phone}}">{{c.phone}}</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </tab>
              <!-- /contact -->

              <!-- catalog -->
              <tab
                heading="{{ 'mdTabCatalog' | translate }}"
                data-ng-if="fcatsFound"
                active="infoTabs.catalog.active"
              >
                <!-- id is needed for show or hiding the tab -->
                <div
                  data-gn-related="mdView.current.record"
                  id="fcats"
                  data-user="user"
                  data-types="fcats"
                  data-title="{{ 'featureCatalog' | translate }}"
                ></div>

                <div
                  data-ng-if="mdView.current.record.attributeTable"
                  class="gn-margin-top"
                  data-gn-attribute-table-renderer="mdView.current.record.attributeTable"
                ></div>
              </tab>
              <!-- /contact -->

              <!-- inspire -->
              <tab
                heading="{{ 'mdTabInspire' | translate }}"
                data-ng-if="mdView.current.record.cat.indexOf('inspire')>-1 || mdView.current.record.cat.indexOf('INSPIRE')>-1"
                active="infoTabs.inspire.active"
              >
                <table class="table table-striped">
                  <tbody>
                    <!-- keywords -->
                    <tr
                      data-ng-if="mdView.current.record['th_httpinspireeceuropaeutheme-theme'].length > 0"
                    >
                      <th>
                        <span data-translate="">inspireThemes</span>
                      </th>
                      <td>
                        <a
                          data-ng-repeat="cat in mdView.current.record['th_httpinspireeceuropaeutheme-theme']"
                          title="{{ cat.default }}"
                          href="{{cat.link}}"
                          target="_blank"
                          >{{ cat.default }}</a>
                      </td>
                    </tr>

                    <!-- conformiteit -->
                    <tr>
                      <th>
                        <span data-translate="">inspireConformance</span>
                      </th>
                      <td>
                        <div
                          data-ng-repeat="conf in mdView.current.record.specificationConformance"
                        >
                          <b>{{ 'Specification'|translate }}:</b> {{ conf.title }}
                          <span data-ng-if="conf.date"
                            ><br />
                            <b>{{ 'Date'|translate }}:</b>({{ conf.date }})</span
                          >
                          <span data-ng-if="conf.pass"
                            ><br />
                            <b>{{ 'Degree'|translate }}:</b>
                            {{ conf.pass|translate}}</span
                          >
                          <span data-ng-if="conf.explanation"
                            ><br />
                            <b>{{ 'Explanation'|translate }}:</b>
                            {{ conf.explanation }}</span
                          >
                        </div>
                      </td>
                    </tr>

                    <!-- format -->
                    <tr data-ng-if="mdView.current.record.format">
                      <th>
                        <span data-translate="">format</span>
                      </th>
                      <td>
                        <span
                          data-ng-repeat="f in (mdView.current.record.format|asArray) track by $index"
                          class="badge"
                          >{{ f }}
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </tab>
              <!-- /inspire -->
            </tabset>

            <!-- social tools -->
            <div class="row share-banner" data-ng-show="isSocialbarEnabled">
              <div class="col-xs-12 clearfix">
                <span class="share-banner-title hidden-xs" data-translate=""
                  >shareOn</span
                >
                <span class="hidden-xs">:</span>

                <a
                  data-ng-href="https://twitter.com/share?url={{ socialMediaLink | encodeURIComponent }}"
                  title="{{ 'shareOnTwitter' | translate }}"
                  target="_blank"
                  class="btn btn-link btn-sm"
                >
                  <i class="fa fa-fw fa-twitter"></i>
                  <span class="hidden-xs">Twitter</span>
                </a>
                <a
                  data-ng-href="https://www.facebook.com/sharer.php?u={{ socialMediaLink | encodeURIComponent }}"
                  title="{{ 'shareOnFacebook' | translate }}"
                  target="_blank"
                  class="btn btn-link btn-sm"
                >
                  <i class="fa fa-fw fa-facebook"></i>
                  <span class="hidden-xs">Facebook</span>
                </a>
                <a
                  data-ng-href="http://www.linkedin.com/shareArticle?mini=true&amp;summary={{ mdView.current.record.resourceTitle }}&amp;url={{ socialMediaLink | encodeURIComponent }}"
                  title="{{ 'shareOnLinkedIn' | translate }}"
                  target="_blank"
                  class="btn btn-link btn-sm"
                >
                  <i class="fa fa-fw fa-linkedin"></i>
                  <span class="hidden-xs">LinkedIn</span>
                </a>
                <a
                  data-ng-href="mailto:?subject={{ mdView.current.record.resourceTitle }}&amp;body={{ socialMediaLink | encodeURIComponent }}"
                  title="{{ 'shareByEmail' | translate }}"
                  target="_blank"
                  class="btn btn-link btn-sm"
                >
                  <i class="fa fa-fw fa-envelope-o"></i>
                  <span class="hidden-xs">Email</span>
                </a>
                <a
                  data-ng-click="mdService.getPermalink(md)"
                  title="{{ 'permalink' | translate }}"
                  class="btn btn-link btn-sm"
                >
                  <i class="fa fa-fw fa-link"></i>
                  <span class="hidden-xs">Link</span>
                </a>

                <!-- feedback -->
                <div
                  class="pull-right"
                  data-gn-md-feedback="mdView.current.record"
                  data-show-label="feedback"
                ></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 gn-md-side">
          <section
            class="gn-md-side-overview"
            data-ng-if="mdView.current.record.overview.length > 0"
          >
            <h2>
              <i class="fa fa-fw fa-image"></i>
              <span data-translate="">overview</span>
            </h2>

            <div data-ng-repeat="img in mdView.current.record.overview">
              <img
                data-gn-img-modal="img"
                class="gn-img-thumbnail img-thumbnail"
                alt="{{ img.name }}"
                data-ng-src="{{ img.url }}"
              />

              <div class="gn-img-thumbnail-caption" data-ng-show="img.name">
                {{ img.name }}
              </div>
            </div>
          </section>

          <section
            class="gn-md-side-extent"
            data-ng-if="mdView.current.record.geom || mdView.current.record.hasBoundingPolygon"
          >
            <h2>
              <i class="fa fa-fw fa-map-marker"></i>
              <span data-translate="">extent</span>
            </h2>

            <!-- TODO: use map config -->
            <div
              data-ng-if="mdView.current.record.geom || mdView.current.record.hasBoundingPolygon"
            >
              <img
                class="gn-img-thumbnail img-thumbnail gn-img-extent"
                alt="{{ 'extent' | translate }}"
                aria-label="{{ 'extent' | translate }}"
                data-ng-src="../api/records/{{ mdView.current.record.uuid }}/extents.png"
              />
            </div>
          </section>

          <section
            class="gn-md-side-dates gn-margin-top-lg"
            data-ng-if="mdView.current.record.resourceDate.length > 0 ||
                              mdView.current.record.resourceTemporalExtentDateRange ||
                              mdView.current.record.resourceVerticalRange"
          >
            <div data-ng-show="mdView.current.record.resourceDate.length > 0">
              <h2>
                <i class="fa fa-fw fa-clock-o"></i>
                <span data-translate="">resourceEvents</span>
              </h2>

              <ul class="timeline timeline-1-col">
                <li
                  class="timeline-inverted"
                  data-ng-repeat="date in mdView.current.record.resourceDate"
                >
                  <div
                    class="timeline-badge timeline-badge-small"
                    data-ng-class="{'danger': date.type === 'deprecated'}"
                  >
                    <i
                      class="fa fa-fw"
                      data-ng-class="{'fa-chevron-right': date.type === 'creation', 'fa-code-fork': date.type === 'superseded','fa-ban': date.type === 'deprecated', 'fa-retweet': date.type === 'revision', 'fa-check': date.type === 'publication', 'fa-calendar': date.type === 'nextUpdate'}"
                    />
                  </div>
                  <dl class="timeline-panel">
                    <dt data-translate>{{ date.type | translate }}</dt>
                    <dd data-gn-humanize-time="{{ date.date }}" />
                  </dl>
                </li>
              </ul>
            </div>

            <div data-ng-show="mdView.current.record.resourceTemporalExtentDateRange">
              <h2>
                <i class="fa fa-fw fa-clock-o"></i>
                <span data-translate="">tempExtent</span>
              </h2>

              <div
                class="flex-row flex-align-center gn-period"
                data-ng-repeat="range in mdView.current.record.resourceTemporalExtentDateRange"
              >
                <div class="flex-start" data-ng-show="range.gte">
                  <dt data-gn-humanize-time="{{ range.gte }}" />
                </div>
                <div class="spacer">
                  <i class="fa fa-chevron-right"></i>
                </div>
                <div class="flex-end" data-ng-show="range.lte">
                  <dt data-gn-humanize-time="{{ range.lte }}" />
                </div>
              </div>
            </div>

            <div data-ng-show="mdView.current.record.resourceVerticalRange">
              <h2>
                <i class="fa fa-fw fa-clock-o"></i>
                <span data-translate="">resourceVerticalRange</span>
              </h2>

              <div
                class="flex flex-row flex-align-center gn-vertical-range"
                data-ng-repeat="range in mdView.current.record.resourceVerticalRange"
              >
                <div class="width-25">
                  <i class="fa fa-fw fa-chevron-up" />
                </div>
                <div class="width-75">
                  <div data-ng-show="range.lte">
                    <dt>{{ range.lte }}</dt>
                  </div>
                  <div data-ng-show="range.gte">
                    <dt>{{ range.gte }}</dt>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="gn-md-side-calendar">
            <h2>
              <i class="fa fa-fw fa-calendar"></i>
              <span data-translate="">updatedOn</span>
            </h2>
            <p>
              <span
                data-gn-humanize-time="{{ mdView.current.record.changeDate }}"
                data-from-now=""
              ></span>
            </p>
          </section>

          <div data-gn-more-like-this="mdView.current.record" class="gn-md-side-more" />

          <section data-ng-show="isRatingEnabled" class="gn-md-side-rating">
            <h2>
              <i class="fa fa-fw"></i>
              <span data-translate="">rate</span>
            </h2>
            <div data-gn-metadata-rate="mdView.current.record" />
          </section>

          <!-- feedback -->
          <div
            data-gn-userfeedback="mdView.current.record"
            data-gn-user="{{ user.username }}"
            data-ng-if="isUserFeedbackEnabled && mdView.current.record.draft != 'y'"
          ></div>
          <div
            data-ng-show="isRecordHistoryEnabled
                 && user.isEditorOrMore()
                 && mdView.current.record.draft != 'y'"
          >
            <div
              data-gn-record-history="mdView.current.record"
              data-collapsed="true"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
